/* mutliple class name to make sure styles will be overriden by */
/* https//mantine.dev/core/typography-styles-provider/ */
.tiptap.tiptap.tiptap {
  .ProseMirror-gapcursor:after {
    border-width: 2px;
    border-color: var(--mantine-color-text);
  }

  /* to avoid overlap with table or image */
  .ProseMirror-gapcursor:first-of-type:after {
    top: -5px;
  }

  * + .ProseMirror-gapcursor.ProseMirror-gapcursor:after {
    top: 5px;
  }
}
